<div class="footer-container">
  <footer class="wrapper">
    <ul>
      <li>&copy; {{ .Now.Year }} <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></li>
      <li><a href="mailto:michael.nelson@fulbrightmail.org">Email</a></li>
      <li><a href="//linkedin.com/in/michaelnetbiz">LinkedIn</a></li>
      <li><a href="//facebook.com/nelson.michael.eric">Facebook</a></li>
      <li><a href="//twitter.com/xsmichaelsx">Twitter</a></li>
      <li><a href="//github.com/michaelnetbiz">Github</a></li>
      <li><a href="//orcid.org/0000-0002-5153-8674">Orcid</a></li>
      <li><a href="//www.researchgate.net/profile/Michael_Nelson34">ResearchGate</a></li>
      <li><a href="//michiganstate.academia.edu/MichaelNelson">Academia.edu</a></li>
      <li><a href="//plus.google.com/107196584647160285558">Google+</a></li>
    </ul>
  </footer>
</div>
{{ template "_internal/google_analytics_async.html" . }}
</body>
</html>
