<div class="main wrapper clearfix">
  <div class="about">
    <header><h1>About</h1></header>
    <section>
      <p>Michigan Stroke Transitions Trial (MISTT) Full Stack Developer at the MSU School of Social Work</p>
      <p>Front-End Developer at the <a
        alt="Link to the website of the Matrix Center for Digital Humanities &amp; Social Sciences"
        href="http://matrix.msu.edu/">Matrix Center for Digital Humanities &amp; Social Sciences.</a></p>
      <p>Data Analyst and Research Assistant at the MSU Department of Advertising and Public Relations</p>
      <p>CHI Graduate Fellow at MSU's Cultural Heritage Informatics Initiative</p>
      <p>M.A., Media and Information, Concentration in Media and Information Management (Michigan State University, 2017)</p>
      <p>B.A., History (North Park University, 2011)</p>
    </section>
    <header>
      <h1>Interests</h1>
    </header>
    <section>
      <ul>
        <li>knowledge representation and enterprise data modeling</li>
        <li>scholarly communication networks</li>
        <li>semantic web technologies and blockchain systems</li>
      </ul>
    </section>
  </div>
</div>
