<div class="main wrapper clearfix">
  <div class="about">
    <header><h1>About</h1></header>
    <section>
      <p>Front-End Web Developer at the <a
        alt="Link to the website of the Matrix Center for Digital Humanities &amp; Social Sciences"
        href="http://matrix.msu.edu/">Matrix Center for Digital Humanities &amp; Social Sciences.</a></p>
      <p>Michigan Stroke Transitions Trial (MISTT) Project Consultant at the MSU School of Social Work</p>
      <p>Project Consultant and Research Assistant at the MSU Department of Advertising and Public Relations</p>
      <p>CHI Graduate Fellow at MSU's Cultural Heritage Informatics Initiative</p>
      <p>M.A., Media and Information, Concentration in Media and Information Management (Michigan State University
        '17)</p>
      <p>B.A., History (North Park University '11)</p>
    </section>
    <header>
      <h1>Interests</h1>
    </header>
    <section>
      <ul>
        <li>data modeling</li>
        <li>scholarly communication patterns</li>
        <li>semantic web technologies</li>
        <li>blockchain systems</li>
        <li>information systems in county clerks and property registrars</li>
      </ul>
    </section>
  </div>
</div>
