<div class="main wrapper clearfix">
  <div class="about">
    <section>
      <p>Full Stack Development Consultant at the MSU School of Social Work</p>
      <p>Front End Developer at the <a alt="Link to the website of the Matrix Center for Digital Humanities &amp; Social Sciences" href="http://matrix.msu.edu/">Matrix Center for Digital Humanities &amp; Social Sciences.</a></p>
    </section>
    <section>
      <ul>Interests:
        <li>Enterprise data modeling</li>
        <li>Scholarly communication networks</li>
        <li>Semantic web technologies and blockchain systems</li>
      </ul>
    </section>
  </div>
</div>
