$dark-purple: #0f0d1e;
$white: #ffffff;
$grey: #222222;
$light-green: #A3D0BB;
$purple: #554AAA;


// // UI
// $color-ui:          $color-gray-light;

// // text
// $color-text:        $color-gray-dark;

// // links
// $color-link:        $color-brand;
// $color-link-hover:  $color-brand-shadow;

// // buttons
// $color-btn:         $color-brand;
// $color-btn-hover:   $color-brand-shadow;
