article section {
  font-family: 'PT Serif', Georgia, sans-serif;
  font-weight: 300;
}

article section h4 {
  padding-left: 2%;
}

article header {
  font-family: 'Gotham Light', sans-serif;
}

article header p {
  font-style: italic;
}

article footer {
  font-family: 'Gotham Light', sans-serif;
}
