.about {
  //border: solid $dark-purple 1px;
  width: 80%;
  margin: auto;
}

.about header h1 {
  font-size: 1.25em;
}

.about header h2, .about section h2 {
  font-size: 1.15em;
}

.about header h3, .about section h3 {
  font-size: 1em;
}

.about header h4, .about section h4 {
  font-size: .9em;
}

.about section {
  font-family: 'PT Serif', Georgia, sans-serif;
  font-weight: 300;
  text-align: center;
}

.about section p {
  padding-left: 0;
  padding-right: 0;
}

.about section p a {
  color: $purple;
}

.about section ul {
  margin: 0 10%;
  padding-left: 0;
  text-align: left;
}

.about section ul li {
  display: list-item;
}

@media screen and (min-width: 49.75em) {
  .about {
    width: 80%;
    margin: auto;
  }
}
