@font-face {
  font-family: "Gotham Light";
  src: url(http://michaelnet.biz/fonts/gothams/Gotham-Light.otf) format('opentype');
}
@font-face {
  font-family: "Gotham Medium";
  src: url(http://michaelnet.biz/fonts/gothams/Gotham-Medium.otf) format('opentype');
}
@font-face {
  font-family: "PT Serif";
  src: url(http://michaelnet.biz/fonts/ptserif/pt-serif-v8-latin-regular.woff) format('woff');
}
/* line 1, ../../sass/elements/_article.scss */
article section {
  font-family: 'PT Serif', Georgia, sans-serif;
  font-weight: 300;
}

/* line 6, ../../sass/elements/_article.scss */
article section h4 {
  padding-left: 2%;
}

/* line 10, ../../sass/elements/_article.scss */
article header {
  font-family: 'Gotham Light', sans-serif;
}

/* line 14, ../../sass/elements/_article.scss */
article header p {
  font-style: italic;
}

/* line 18, ../../sass/elements/_article.scss */
article footer {
  font-family: 'Gotham Light', sans-serif;
}

/* line 1, ../../sass/elements/_button.scss */
button {
  border: none;
  background: center no-repeat url("../img/burger-purple.svg");
  height: 2em;
  margin: .5em .5em 1em 1em;
  transition: transform 0.6s ease;
  width: 2em;
}

/* line 10, ../../sass/elements/_button.scss */
button.active {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

@media screen and (min-width: 20em) {
  /* line 16, ../../sass/elements/_button.scss */
  button {
    margin: .6em .6em 1em 1em;
  }
}
@media screen and (min-width: 23em) {
  /* line 22, ../../sass/elements/_button.scss */
  button {
    margin: .7em .7em 1em 1em;
  }
}
@media screen and (min-width: 26em) {
  /* line 28, ../../sass/elements/_button.scss */
  button {
    margin: .8em .8em 1em 1em;
  }
}
@media screen and (min-width: 49.75em) {
  /* line 35, ../../sass/elements/_button.scss */
  button {
    display: none;
  }
}
/* line 1, ../../sass/elements/_div.scss */
div header {
  font-family: 'Gotham Light', sans-serif;
  text-align: center;
}

/* line 1, ../../sass/elements/_footer.scss */
footer {
  padding: 1em 0;
  font-family: 'Gotham Light', sans-serif;
  font-size: .75em;
  margin-bottom: .5em;
  text-align: center;
}

/* line 9, ../../sass/elements/_footer.scss */
footer ul {
  display: inline-block;
  padding-left: 0;
  text-align: center;
}

/* line 15, ../../sass/elements/_footer.scss */
footer ul li {
  display: inline;
  padding-left: 1em;
  text-align: center;
}

/* line 1, ../../sass/elements/_header.scss */
header p {
  font-size: .8em;
}

/* line 5, ../../sass/elements/_header.scss */
header span {
  font-size: 1.5em;
  font-family: 'Gotham Light', sans-serif;
  font-weight: 300;
  margin: 0.67em 0;
  float: left;
}

/* line 1, ../../sass/elements/_headings.scss */
h1, h2, h3, h4, h5 {
  font-family: 'Gotham Light', sans-serif;
  font-weight: 300;
}

/* line 6, ../../sass/elements/_headings.scss */
h1 {
  font-size: 1.75em;
}

/* line 1, ../../sass/elements/_links.scss */
a {
  color: #0f0d1e;
  text-decoration: none;
}

/* line 1, ../../sass/elements/_lists.scss */
ul li {
  display: inline;
}

/* line 1, ../../sass/elements/_nav.scss */
nav {
  float: right;
  font-family: 'Gotham Light', sans-serif;
  position: relative;
}

/* line 7, ../../sass/elements/_nav.scss */
nav ul {
  float: right;
  padding-left: 0;
}

/* line 12, ../../sass/elements/_nav.scss */
nav ul li {
  padding: .25em;
}

/* line 16, ../../sass/elements/_nav.scss */
nav ul li a {
  color: #0f0d1e;
  transition: 0.5s ease;
  display: inline-block;
  font-size: 1em;
}

/* line 23, ../../sass/elements/_nav.scss */
nav ul li a:hover, nav ul li a:focus {
  background-color: #0f0d1e;
  color: #ffffff;
}

/* line 28, ../../sass/elements/_nav.scss */
nav ul li a.active {
  background-color: #0f0d1e;
  color: #ffffff;
}

/* line 33, ../../sass/elements/_nav.scss */
nav ul {
  display: none;
}

@media screen and (min-width: 49.75em) {
  /* line 38, ../../sass/elements/_nav.scss */
  nav ul {
    display: block;
  }

  /* line 42, ../../sass/elements/_nav.scss */
  nav ul li a {
    font-size: 1.25em;
  }
}
/* line 47, ../../sass/elements/_nav.scss */
nav ul.active {
  background-color: #0f0d1e;
  border: solid #A3D0BB 5px;
  display: inline-block;
  margin-top: 0;
  padding: 1em 2em 1em 2em;
  position: absolute;
  right: 0;
}

/* line 57, ../../sass/elements/_nav.scss */
nav ul.active li {
  width: 100%;
}

/* line 61, ../../sass/elements/_nav.scss */
nav ul.active li a {
  transition: 0.5s ease;
  color: #ffffff;
  font-weight: 300;
  width: 100%;
}

/* line 68, ../../sass/elements/_nav.scss */
nav ul.active li a:hover, nav ul.active li a:focus {
  color: #A3D0BB;
}

/* line 72, ../../sass/elements/_nav.scss */
nav ul.active li a.active {
  color: #A3D0BB;
}

/* line 1, ../../sass/elements/_page.scss */
html, body {
  background-color: #ffffff;
  height: 100%;
  line-height: 1.5em;
}

/* line 1, ../../sass/elements/_pre.scss */
pre {
  max-width: 49.75em;
  padding: 1em 2em;
}

/* line 1, ../../sass/objects/_wrappers.scss */
.wrapper {
  margin: auto;
  max-width: 69em;
  min-width: 18em;
  width: 90%;
}

/* line 1, ../../sass/components/_about.scss */
.about {
  width: 80%;
  margin: auto;
}

/* line 7, ../../sass/components/_about.scss */
.about section {
  font-family: 'PT Serif', Georgia, sans-serif;
  font-weight: 300;
  text-align: center;
}

/* line 13, ../../sass/components/_about.scss */
.about section p {
  padding-left: 0;
  padding-right: 0;
}

/* line 18, ../../sass/components/_about.scss */
.about section p a {
  color: #554AAA;
}

/* line 22, ../../sass/components/_about.scss */
.about section ul {
  padding-left: 0;
  text-align: left;
}

/* line 27, ../../sass/components/_about.scss */
.about section ul li {
  display: list-item;
}

@media screen and (min-width: 49.75em) {
  /* line 32, ../../sass/components/_about.scss */
  .about {
    width: 80%;
    margin: auto;
  }
}
/* line 1, ../../sass/components/_main.scss */
.main {
  display: table;
}

/* line 5, ../../sass/components/_main.scss */
.main h3 {
  padding: 0 2%;
}

/* line 9, ../../sass/components/_main.scss */
.main h4 {
  padding: 0 5%;
  text-align: center;
}

/* line 14, ../../sass/components/_main.scss */
.main p {
  padding: 0 5%;
}

@media screen and (min-width: 49.75em) {
  /* line 19, ../../sass/components/_main.scss */
  .main h4 {
    text-align: left;
  }
}
/* line 1, ../../sass/components/_sections.scss */
.sections {
  width: 100%;
  max-width: 49.75em;
}

/* line 6, ../../sass/components/_sections.scss */
.sections section {
  margin-top: 1.5em;
}

/* line 10, ../../sass/components/_sections.scss */
.sections section p a {
  color: #554AAA;
}

/* line 14, ../../sass/components/_sections.scss */
.sections article {
  border: solid #0f0d1e 1px;
  margin: 0 0 .5em 0;
}

/* line 19, ../../sass/components/_sections.scss */
.sections header {
  font-family: 'Gotham Light', sans-serif;
  text-align: center;
  margin-bottom: 1em;
  display: none;
}

@media screen and (min-width: 49.75em) {
  /* line 27, ../../sass/components/_sections.scss */
  .sections {
    margin: auto;
    width: 100%;
  }

  /* line 31, ../../sass/components/_sections.scss */
  .sections section {
    margin-top: 0;
    padding: 0;
  }

  /* line 35, ../../sass/components/_sections.scss */
  .sections section .list-item {
    background-color: #A3D0BB;
    height: 3.5em;
  }

  /* line 39, ../../sass/components/_sections.scss */
  .sections section .list-item span {
    padding: 1em;
  }

  /* line 42, ../../sass/components/_sections.scss */
  .sections section .list-item span:first-child {
    float: left;
    padding-right: 0;
  }
}
@media screen and (min-width: 54.25em) {
  /* line 49, ../../sass/components/_sections.scss */
  .sections header {
    display: block;
  }

  /* line 52, ../../sass/components/_sections.scss */
  .sections section .list-item span:last-child {
    display: block !important;
    padding-left: 0;
  }
}
/* line 58, ../../sass/components/_sections.scss */
.sections header div {
  width: 100%;
  height: 1em;
}

/* line 63, ../../sass/components/_sections.scss */
.sections header h3 span {
  font-size: .75em;
  margin: 0;
}

/* line 68, ../../sass/components/_sections.scss */
.sections header h3 span:first-child {
  float: left;
  padding-left: 1em;
}

/* line 73, ../../sass/components/_sections.scss */
.sections header h3 span:last-child {
  float: right;
  padding-right: 1em;
}

/* line 78, ../../sass/components/_sections.scss */
.sections footer {
  font-family: 'Gotham Light', sans-serif;
  padding: 0 1%;
}

/* line 83, ../../sass/components/_sections.scss */
.sections section .list-item {
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: 49.75em;
  display: block;
  text-align: center;
  width: 100%;
}

/* line 93, ../../sass/components/_sections.scss */
.sections section .list-item:hover, .sections section .list-item:focus {
  box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.05);
}

/* line 97, ../../sass/components/_sections.scss */
.sections section .list-item span {
  color: #0f0d1e;
}

/* line 101, ../../sass/components/_sections.scss */
.sections section .list-item span:first-child {
  font-family: 'Gotham Light', Georgia, sans-serif;
}

/* line 105, ../../sass/components/_sections.scss */
.sections section .list-item span:last-child {
  display: none;
  float: right;
  font-family: 'PT Serif', Georgia, sans-serif;
}

/* line 1, ../../sass/alterations/_selection.scss */
::-moz-selection {
  background: #0f0d1e;
  color: #ffffff;
  text-shadow: none;
}

/* line 7, ../../sass/alterations/_selection.scss */
::selection {
  background: #0f0d1e;
  color: #ffffff;
  text-shadow: none;
}
