{{ partial "head.html" . }}
<div class="wrapper">
  {{ partial "nav.html" . }}
  <article class="wrapper">
    <div class="sections">
      <header>
        <h1>{{ .Title }}</h1>
        <h2>{{ .Date.Format "2 Jan 2006" }}</h2>
        <span><a href="{{.Params.external_link}}">Original Post</a></span>
        <br>
        <ul>{{ range .Params.tags }} tags:
          <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> /</li>
          {{ end }}
        </ul>
      </header>
      <section>
        {{ .Content }}
      </section>
      <footer></footer>
    </div>
  </article>
</div>
{{ partial "footer.html" . }}
