article section {
  font-family: 'PT Serif', Georgia, serif;
  font-weight: 300;
}

article section h4 {
  padding-left: 2%;
}

article .sections header {
  font-family: 'PT Serif', Georgia, serif;
}

article .sections header h1 {
  font-family: 'PT Serif', Georgia, serif;
}

article .sections header h2 {
  font-family: 'PT Serif', Georgia, serif;
  font-style: italic;
}

article .sections header span a {
  font-family: 'PT Serif', Georgia, serif;
}

article .sections footer {
  font-family: 'PT Serif', Georgia, serif;
}
